# IDE
/nbproject/
/.idea

# Env
.viminfo
*.log
composer.phar
/.bash_history
/.composer/
/.mysql_history
/.ssh/
/var
/logs
/vagrant/.vagrant

# Bugs
/.git

# This customization
/vagrant.custom/*
!vagrant.custom/README.md
!vagrant.custom/install.php
!vagrant.custom/install.inc.php
!vagrant.custom/license.php.example
!vagrant.custom/init.bash
!vagrant.custom/mysql.sql
/vagrant.custom/ssh/*

# Project
/wiki
/www/yandex*
/www/*.html
/www/bitrix/
/www/upload/
/vendor/